beautifulsoup4==4.12.3
datasets==2.19.0
dateparser==1.2.0
Flask==3.0.3
google_api_python_client==2.129.0
google_auth_oauthlib==1.2.0
protobuf==5.26.1
pytest==8.2.1
pytz==2024.1
spacy==3.7.4
torch==2.2.2
